
<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<div class="well well-lg">
<div class="article-title">

</div>
<div class="article-body">
<%= truncate(tool.name, length: 100) %>
<div class="article-meta-details">

</div>
</div>
</div>

