<h3 class="text-center">Sale</h3


<section class="products-grid">
  <div class="container">




<%= render 'shared/sales' %>


</section>




</div><!-- /.row -->

</section>






  <h3 class="text-center">Hot</h3>
  <div class="on-minicart">
                                        <dl class="cart-products">
                                            <dt class="cart-product">
                                              <h3>category</h3>
                                                <a class="cart-thumb" href="#">
                                                   category
                                                </a>
                                                

                                            </dt>
                                            <dd></dd>
                                            
                                            <dd></dd>
                                        </dl>
                                        <p class="cart-no-product">No products</p>
                                      
                                    </div>
    
<section class="products-grid">
  <div class="container">
 



</div><!-- /.row -->

</section>
