.tag.sale {
    background: #ff7878;
    color: #333;
}


.tag {
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    padding-top: -4px;
    width: 102px;
    height: 40px;
    text-transform: uppercase;
    top: 2.5%;
    z-index: 100;
    border-radius: 0px;
    color: #fff !important;
    right: 32px;
    text-align: center;
}
