<section class="products-grid">
  <div class="container">

    <h2>Our Shop</h2>
    <div class="row products-container position">
<% @products.each do |product| %>
<div class="col-md-4 col-sm-6 col-xs-12 product pull-left">
<div class="thumbnail">
<%= link_to image_tag(product.image.url, class: "img-responsive") %>
<div class="caption text-center">
<span class="price-new"><%= product.title %></span>
</div>
<div class="caption text-center">
<%= number_to_currency product.price %>
</div>
<div class="caption text-center">
  <%= button_to product_items_path(product_id: product), class: 'btn btn-default' do %>
  <i class="fa fa-shopping-cart"></i> Add to cart
  <% end %>
  </div>
</div>
</div>
     <% end %>
</div>

</div><!-- /.row -->

</section>
